<div class="details__container">
    <div class="details">
        <div class="nav">
            <button class="btn" (click)="goBack()">
                <i class="icon-back"></i>Back</button>
            <button class="btn" [routerLink]="['/']">
                <i class="icon-search"></i>Search</button>
        </div>
        <!-- spinner loading animation -->
        <div class="loader" *ngIf="loaderVisible">
            <i class="icon-spin6"></i>
        </div>
        <!-- cleandetails pipe to remove empty data -->
        <!-- keys pipe since details is object  -->
        <!-- converting it into  keys array  and using it accordingly-->
        <div class="detail" *ngFor="let detail of details|cleanDetails|keys">
            <!-- show main name -->
            <div class="name" *ngIf="detail=='name'">{{details[detail]|name}}</div>
            <!-- show other details -->
            <div class="other" *ngIf="detail!='name' && detail!='url' ">
                <div class="key">{{detail|uppercase}}</div>
                <div class="value" [innerHtml]="details[detail]|urlTransform|noSanitize"></div>
            </div>
        </div>
    </div>
</div>