<div class="details__container">
    <div class="details">
        <div class="nav">
            <button class="btn" (click)="goBack()">
                <i class="icon-back"></i>Back</button>
            <button class="btn" [routerLink]="['/']">
                <i class="icon-search"></i>Search</button>
        </div>
        <div class="detail" *ngFor="let detail of details|cleanDetails|keys">
            <div class="main__name" *ngIf="detail=='name'">{{details[detail]|name}}</div>
            <div class="other" *ngIf="detail!='name' && detail!='url' ">
                <div class="key">{{detail|titlecase}}</div>
            </div>
        </div>
    </div>
</div>