.details__container {
  min-height: 120vh;
  display: flex;
}

.details {
  width: 100vw;
  min-height: 100vh;
  background: #fff;
  padding: 4%;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.btn {
  background: var(--base);
  padding: 6px 12px;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 400;
}

.btn,
.btn .icon-search,
.btn .icon-back {
  color: rgba(0, 0, 0, 0.75);
  transition: color 400ms;
}

.btn:hover,
.btn:hover .icon-back,
.btn:hover .icon-search {
  color: #000;
}

.detail {
  text-align: center;
  margin-top: 15%;
}

.detail:nth-child(3) {
  margin-top: 30%;
}

.name {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: rgba(0, 0, 0, 0.9);
  line-height: 1;
}

.other {
  line-height: 1.5;
}

.key {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 5px;
}
.value {
  word-wrap: break-word;
  word-break: break-all;
}

.key,
.value {
  font-size: 0.9rem;
}

.loader {
  text-align: center;
  margin-top: 10%;
}
.loader i {
  font-size: 1.3rem;
  display: inline-block;
  -webkit-animation: rotation 1s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media (min-width: 576px) {
  .details__container {
    justify-content: center;
  }
  .details {
    width: 65vw;
  }
  .name {
    font-size: 2.5rem;
  }
  .key,
  .value {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .details {
    margin: 5% 0;
  }
  .nav {
    justify-content: space-between;
  }
  .detail {
    margin-top: 10%;
  }

  .detail:nth-child(3) {
    margin-top: 5%;
  }
}
