.search__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#search__form {
  margin-top: 35vh;
}
.search,
[type="submit"] {
  background-color: transparent;
  font-weight: 400;
  border: 0;
  outline: none;
  color: #fff;
  padding-bottom: 2%;
  border-bottom: 2px solid;
}

[type="submit"] {
  transform: translateX(-100%);
  border-bottom: 0;
  cursor: pointer;
  z-index: 99;
  width: 10%;
}
[type="submit"] i {
  /* font-size: 2.5rem; */
  color: #fff;
}
.search {
  width: 90%;
}
.search:focus ~ p {
  display: block;
}
.search:not(:focus) ~ p {
  display: none;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--base);
  opacity: 1; /* Firefox */
}

.message {
  color: rgba(225, 225, 225, 1);
  margin-top: 2%;
  font-size: 0.9rem;
}

.suggestions {
  width: 90%;
  text-align: center;
  margin-top: 3%;
}
.searched__suggestion {
  display: inline-block;
  padding: 1%;
  background: #fff;
  margin: 2% 3%;
  margin-left: 0;
  cursor: pointer;
  transition: all 0.1s;
  transition-timing-function: ease-in-out;
}
.searched__suggestion:hover {
  transform: translateY(-2px);
}
.searched__highlight {
  background: var(--base);
}
.searched__suggestion,
.searched__highlight {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
}

@media (min-width: 576px) {
  .search {
    font-size: 2rem;
  }

  [type="submit"] i {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .search {
    font-size: 3rem;
  }

  [type="submit"] i {
    font-size: 2.5rem;
  }

  .searched__suggestion,
  .searched__highlight {
    font-size: 1rem;
  }

  .searched__suggestion {
    margin: 1%;
  }
}
