@import url(https://fonts.googleapis.com/css?family=Lato:400, 700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  color: #555;
  --base: #ffeb3b;
  --book: #f44336;
  --house: #66bb6a;
  --character: #2196f3;
}

body {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(./assets/got.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* Small devices (landscape phones, 576px and up)*/
/* @media (min-width: 576px) { ... } */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */
